<li>
	{{name}}

	<button class="change-Burger" data-id="{{id}}" data-newBurger="{{Burger}}">
		{{#if Burger}}DEVOUR BURGER!{{else}}NOT DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
